<span aria-label="Modo Nocturno">
  <label class="theme-switch">
    <input id="input-switch" type="checkbox" />
    <span class="slider"></span>
  </label>
</span>

<style>
  /* Toggle Theme */

  .theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
    margin-bottom: -5px;
  }

  .theme-switch input {
    display: none;
  }

  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-accent-1);
    transition: 0.4s;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid black; /* Add this line to your CSS */
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 25px;
    left: 0.25em;
    bottom: 0.15em;
    background-color: #ffffff;
    transition: 0.4s;
    border-radius: 50%;
  }

  .slider:hover {
    background-color: var(--color-accent-2);
  }

  input:checked + .slider {
    background-color: var(--color-text-ascent-1);
  }

  input:checked + .slider:hover {
    background-color: var(--color-text-ascent-2);
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }
</style>

<script src="./dark-mode.js"></script>
