---
import { Image } from "astro:assets";
import MyPhoto from "./../assets/photo-dmoscaiza-4k.jpeg";
import Available from "./Status/Available.astro";
---

<main>
  <section id="about">
    <Image class="my-photo" src={MyPhoto} alt="photo-diego-moscaiza-4k" />
    <div>
      <div class="name">
        <h1>
          Diego Moscaiza Anampa
          <span class="flag-icon flag-icon-pe"></span>
        </h1>
      </div>
      <p class="profesion">Desarrollador Web FullStack</p>
      <Available />
    </div>
  </section>

  <section>
    <h2>Mis redes</h2>
    <div class="contact">
      <a class="email">
        <i class="fas fa-envelope"></i>
        Contáctame</a
      >
      <a
        class="github"
        href="https://github.com/diego-moscaiza"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-github"></i>
        Github</a
      >
      <a
        class="linkedin"
        href="https://www.linkedin.com/in/diego-moscaiza/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-linkedin-in"></i>
        LinkedIn</a
      >
    </div>
  </section>

  <section>
    <h2>Sobre mí</h2>
    <p>
      Soy un desarrollador web con experiencia en el desarrollo de aplicaciones
      web y móviles. Me encanta aprender nuevas tecnologías y compartir
      conocimientos.
    </p>
  </section>

  <section>
    <h2>Experiencia</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste iusto
      libero praesentium rerum, placeat quidem voluptatem molestiae non vero
      facilis, dolorem officiis nisi modi cum eligendi impedit nam in? Quaerat
      dicta sint assumenda doloremque adipisci obcaecati aliquid vero sit
      repellendus perferendis nisi, amet inventore ullam id culpa. Animi porro
      vero minus maiores accusantium amet mollitia temporibus consequatur corrupti
      odit! Ipsam culpa perferendis blanditiis modi exercitationem nostrum sunt,
      ipsa similique laudantium ex nesciunt nobis placeat tempora, accusantium
      voluptatibus, inventore dolorum repellendus perspiciatis officiis iure.
      Culpa blanditiis ipsam illum facilis saepe. Voluptates dolores quos quisquam
      nemo dolorum deleniti commodi, eum pariatur sint mollitia voluptatum fuga
      alias natus, nisi nobis dignissimos vero et. Voluptatum doloribus ratione
      laborum repellendus neque tempora veniam at? Expedita praesentium
      perferendis earum necessitatibus optio delectus accusamus quae, veritatis
      nesciunt consectetur laudantium, ad neque. Expedita aperiam voluptates neque
      corrupti quod voluptas, placeat distinctio quos veritatis ducimus reiciendis
      commodi enim. Temporibus repellat quaerat provident accusantium mollitia cum
      sint magni vel asperiores. Est, odio, ex quam, dolores maiores quod sint
      molestiae dolor ducimus beatae nam sunt voluptates doloremque facilis
      molestias quis. Accusantium tempora minus ea culpa iusto nostrum officia non
      animi quasi magnam eveniet ratione velit, facilis minima quaerat. Autem
      tenetur ullam laborum labore odio iure temporibus beatae mollitia provident
  </section>

  <!-- <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste iusto
    libero praesentium rerum, placeat quidem voluptatem molestiae non vero
    facilis, dolorem officiis nisi modi cum eligendi impedit nam in? Quaerat
    dicta sint assumenda doloremque adipisci obcaecati aliquid vero sit
    repellendus perferendis nisi, amet inventore ullam id culpa. Animi porro
    vero minus maiores accusantium amet mollitia temporibus consequatur corrupti
    odit! Ipsam culpa perferendis blanditiis modi exercitationem nostrum sunt,
    ipsa similique laudantium ex nesciunt nobis placeat tempora, accusantium
    voluptatibus, inventore dolorum repellendus perspiciatis officiis iure.
    Culpa blanditiis ipsam illum facilis saepe. Voluptates dolores quos quisquam
    nemo dolorum deleniti commodi, eum pariatur sint mollitia voluptatum fuga
    alias natus, nisi nobis dignissimos vero et. Voluptatum doloribus ratione
    laborum repellendus neque tempora veniam at? Expedita praesentium
    perferendis earum necessitatibus optio delectus accusamus quae, veritatis
    nesciunt consectetur laudantium, ad neque. Expedita aperiam voluptates neque
    corrupti quod voluptas, placeat distinctio quos veritatis ducimus reiciendis
    commodi enim. Temporibus repellat quaerat provident accusantium mollitia cum
    sint magni vel asperiores. Est, odio, ex quam, dolores maiores quod sint
    molestiae dolor ducimus beatae nam sunt voluptates doloremque facilis
    molestias quis. Accusantium tempora minus ea culpa iusto nostrum officia non
    animi quasi magnam eveniet ratione velit, facilis minima quaerat. Autem
    tenetur ullam laborum labore odio iure temporibus beatae mollitia provident
    aperiam. Commodi quos modi blanditiis accusantium, voluptatibus debitis
    ipsum perferendis possimus reiciendis repellat laudantium obcaecati placeat
    illo. Omnis numquam, odit aspernatur adipisci modi quo cum, incidunt, id
    possimus magnam obcaecati consequuntur. Accusantium numquam corrupti facere.
    Earum dolores deleniti perferendis modi dolorum temporibus quidem. Dolorem
    tempora doloribus maxime eligendi porro molestiae suscipit, quo facilis,
    amet qui sequi fugit, ullam iure rerum at! Necessitatibus odio in et officia
    laborum asperiores neque nostrum cupiditate magni. Accusantium rerum quod
    sunt dolorum earum provident, voluptate iusto maxime beatae, autem impedit
    voluptas accusamus ratione eius hic. Quaerat. Dicta placeat repellat, ipsam
    labore cumque libero a magni, dolores animi iusto enim. Nobis, veritatis
    odio. Veritatis vero doloribus, voluptatibus adipisci fugiat mollitia
    asperiores animi obcaecati alias dolor id sit? In possimus dolorum
    laudantium eius officiis, consectetur modi, debitis aut sint ducimus odio et
    quidem. Ad dolorem aspernatur voluptatibus porro, itaque aliquid similique
    molestias consequatur exercitationem, illo nam, molestiae architecto?
    Distinctio voluptas debitis quibusdam, fugiat error dicta nobis molestias ex
    doloribus atque qui, consequuntur temporibus? Officiis adipisci sint
    pariatur facere illum! Laudantium labore ipsa facilis delectus praesentium
    quibusdam, ab quaerat. Fugiat suscipit officia quos, ducimus ullam at velit
    saepe consectetur distinctio aliquid accusantium ut cupiditate nulla quidem
    excepturi nisi dolores laboriosam ab rem. Illo alias aliquid quod ipsam
    culpa sit? Incidunt deserunt sunt vitae expedita? Sit nemo illum tempora
    rerum officia voluptatum dolorum eos corrupti dignissimos, aliquam nostrum!
    Accusantium modi eum nihil est tempore voluptates vitae incidunt esse hic
    perspiciatis. Quisquam ipsum, voluptas harum minus eum, quia unde fugiat
    similique dolore pariatur praesentium delectus autem, cumque maxime
    molestiae. Minima omnis alias aliquam dolorem. Quam laborum officia
    perspiciatis, aperiam quibusdam unde. Labore ratione maxime tenetur totam,
    dolor dignissimos corrupti quas. Quas temporibus sequi culpa rerum magni
    asperiores placeat inventore illo aspernatur ad cupiditate explicabo harum
    esse minima maxime recusandae, sapiente ullam. Voluptatem labore vel ipsum
    velit inventore mollitia quaerat deleniti, perferendis odit, libero
    temporibus corporis dolorem modi culpa quasi praesentium nihil. Quod fugit
    perspiciatis quisquam eum maxime, voluptatem inventore facere sed. Dolores
    fugit inventore quaerat illo blanditiis doloremque deleniti iusto,
    consequatur voluptates expedita corrupti, tempore nostrum similique,
    possimus provident! Nisi, eius velit at minus delectus ab impedit ipsum
    eveniet accusantium ducimus. Repellat unde quia tempora tempore error cumque
    totam in, nemo, quae nulla, dolores nobis eligendi modi commodi ipsam animi
    iure at incidunt molestias? Earum impedit ex est rem repellendus
    consequuntur! Est ipsum officiis ipsa, illo aliquid obcaecati repudiandae
    expedita, suscipit doloribus eaque facere, velit ut optio eius animi fuga!
    Nam animi, quo optio veniam velit sequi dolores? Eius, impedit earum.
    Aspernatur dolor, possimus aliquam labore quasi maiores quam ex?
    Perspiciatis in qui nostrum nobis consectetur eius! Ab, ut. Incidunt tenetur
    quasi reprehenderit sit alias adipisci debitis atque illum optio sequi?
    Delectus suscipit alias repudiandae eaque veniam minus quo voluptas
    provident, fugit debitis, aspernatur quibusdam assumenda, accusamus ea
    dignissimos autem. Deserunt, quidem cumque. Omnis dolore non accusantium eum
    quos atque possimus! Harum praesentium culpa fugit veniam explicabo
    accusamus similique deleniti aperiam suscipit, facilis temporibus beatae est
    earum autem? Odit ad fugiat doloribus architecto, voluptates quae quos,
    itaque, assumenda fuga non quisquam? Animi alias voluptatem ipsam
    dignissimos pariatur repudiandae ab sapiente officiis voluptates, dolores
    ratione aperiam blanditiis sit ducimus beatae ullam tempora! Accusamus
    soluta eos tempore laudantium minima autem doloremque ullam tempora?
    Obcaecati incidunt, perferendis assumenda facilis ipsa dolore adipisci sunt?
    Voluptatibus neque magni aperiam iusto voluptate perspiciatis repellendus.
    Doloribus tempore doloremque similique debitis, dolorem rem perspiciatis
    provident, aliquid quia, obcaecati rerum? Fuga maxime corporis magnam
    perferendis facere voluptatem nisi at consequatur sint quis ut eos, labore
    tempore voluptatum vitae accusamus iste ab cum ipsa aut ipsam expedita nihil
    laudantium voluptates. Iusto. Minus rem consequatur placeat dolorem quas
    animi vel corrupti tempora cum, voluptatum iste aperiam quisquam dolor
    deserunt, ut necessitatibus optio quia natus fugit. Aspernatur rem culpa
    dolor omnis accusamus vero! Necessitatibus nulla eaque, totam omnis
    veritatis eius, obcaecati facilis quos esse asperiores quidem modi nobis
    cupiditate maiores, dignissimos incidunt. Eveniet atque tenetur id
    exercitationem dolores debitis in. Commodi, officia ea. Cupiditate natus
    nulla, officia vel repellendus commodi quidem odit consequuntur facere
    architecto, cum numquam magnam ipsam iure sapiente quos perspiciatis nisi!
    Odit alias maiores ex reiciendis tempore perferendis fugiat facere. Placeat
    velit voluptatibus officia mollitia suscipit doloribus ipsam cum saepe
    ullam? Maxime debitis totam eaque facilis nesciunt quidem, consectetur
    similique eius magnam repellat eos fugiat asperiores unde? Facilis, earum
    dolorem. Animi nesciunt aliquam magnam deserunt laudantium, deleniti eum a
    voluptatibus? Nesciunt, voluptates asperiores hic doloremque rerum esse
    debitis atque, velit aut, consequatur ab eos quas? Corporis quis quos hic
    rem. Aliquam quam numquam expedita similique rerum exercitationem error?
    Enim, fugit iusto. Esse, voluptatem? Saepe soluta, dignissimos, eum quo quod
    neque sapiente delectus dolores beatae sunt, temporibus alias commodi. Sunt,
    voluptate? Dicta recusandae, accusamus vitae minima delectus cupiditate hic.
    Magnam excepturi harum nemo error assumenda ipsa facere nobis. Laboriosam,
    unde nihil est porro omnis suscipit vel, sint et, dignissimos nisi iure.
    Nisi, qui officiis quae consectetur, iusto sint nemo quisquam nam, nostrum
    iste ipsum sit! Dignissimos neque voluptates eveniet! Eum dolorum iste quos
    maxime. Vero omnis aut asperiores recusandae sequi cumque! Reprehenderit
    deleniti sit, corrupti, magni praesentium minus molestiae hic iure magnam,
    neque ipsam voluptatem repellat quas. Voluptatibus, explicabo iure.
    Blanditiis saepe porro eveniet inventore illum beatae officiis aliquam
    consequuntur mollitia! Harum recusandae aliquid exercitationem facilis
    quibusdam eligendi repellendus at labore non minima. Quam cum, adipisci
    delectus quisquam ducimus corrupti officia, porro voluptatibus nobis placeat
    obcaecati. Impedit optio cumque error culpa? Laboriosam, aperiam! Qui
    ducimus veritatis consequatur sequi aspernatur debitis nostrum quasi natus
    delectus sit quam numquam, culpa tempore dicta tempora sed ullam. Dolorem
    quidem deserunt praesentium veniam quasi numquam iusto. Modi debitis id ab!
    Voluptates ipsa dicta consectetur, laudantium labore, nemo voluptate, vel
    ipsum perspiciatis ab rerum? Iure aut maxime nostrum fugiat natus nesciunt
    dicta, voluptas, aperiam, aliquam voluptatum quos? Dolorem maxime quaerat ad
    tempore quasi distinctio quod atque beatae cum ratione facere labore,
    reiciendis in fuga rem suscipit architecto voluptates laborum iste sequi.
    Beatae ad in veniam a nostrum.
  </p> -->
</main>

<script>
  const copyEmail = document.querySelector(".email");
  copyEmail.addEventListener("click", () => {
    navigator.clipboard.writeText("diego-moscaiza@outlook.com"); // Add your email here
    alert("Email copiado al portapapeles");
  });
</script>

<style>
  main {
    width: 600px;
    padding: 10px 20px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid #f0ff; */
  }

  /* About me */

  #about {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  #about > .my-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  #about .profesion {
    margin-bottom: 5px;
    color: #333;
  }

  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
  }

  .contact > a {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 20px;
    transition:
      background-color 0.3s ease,
      box-shadow 0.3s ease;
  }

  .contact > a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  }

  .contact > .email {
    cursor: pointer;
    color: rgb(9, 124, 213);
    background-color: rgba(158, 216, 255, 0.7);
  }

  .contact > .email:hover {
    color: #f8f9fa;
    background-color: rgba(44, 151, 223);
  }

  .contact > .github {
    color: rgb(0, 0, 0);
    background-color: rgba(165, 165, 165, 0.7);
  }

  .contact > .github:hover {
    color: #f8f9fa;
    background-color: rgb(0, 0, 0);
  }

  .contact > .linkedin {
    color: rgb(11, 102, 194);
    background-color: rgba(171, 221, 255, 0.7);
  }

  .contact > .linkedin:hover {
    color: #f8f9fa;
    background-color: rgb(0, 118, 181);
  }

  /* Responsiveness */
  /* @media (max-width: 768px) {
    #about {
      flex-direction: column;
    }
    .contact {
      flex-direction: column;
    }
  } */
</style>
