---
let availableToWork = true;
let nameEnterprises = "Google";
---

<p
  class:list={[
    "design",
    {
      available: availableToWork,
      working: !availableToWork,
    },
  ]}
>
  {
    availableToWork
      ? "Disponible para trabajar"
      : `Actualmente trabajo en ${nameEnterprises}`
  }
</p>

<style>
  .design {
    display: inline-block;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);ยก
  }

  .available {
    color: green;
    background-color: rgb(204, 246, 204, 0.7);
  }

  .working {
    color: purple;
    background-color: rgba(224, 204, 255, 0.7);
  }
</style>
