---
let availableToWork = true;
---

<p
  class:list={[
    "design",
    {
      available: availableToWork,
      working: !availableToWork,
    },
  ]}
>
  {availableToWork ? "Disponible para trabajar" : "Trabajando actualmente"}
</p>

<style>
  .design {
    display: inline-block;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition:
      background-color 0.3s ease,
      box-shadow 0.3s ease;
  }

  .available {
    color: green;
    border: 1px solid green;
    background-color: rgb(204, 246, 204);
  }

  .working {
    color: purple;
    border: 1px solid purple;
    background-color: rgb(224, 204, 255);
  }
</style>
